.headline-blur {
    --colour: black;
    --blur-radius: 8px;

    overflow: visible;
    transition: color 0.1s ease, text-shadow 0.1s ease;
}

.headline-blur:not([unblur]) {
    color: transparent !important;
    text-shadow: 0 0 var(--blur-radius) var(--colour, black);
}

.headline-blur[unblur] {
    color: var(--colour, black);
    text-shadow: none;
}